
@font-face {
    font-family: 'Engineering Plot';
    src: url('./fonts/Engplot.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h4{
    font-family: "Engineering Plot", serif !important;
    font-weight: bold !important;
}
.menuBarClass{
    width: auto;
    height: 100%;
}
#notInMenu{
    margin-right: auto;
}
#topBar{
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
    height: 13%;
    border: #ffffff solid 3px;
    border-bottom: #ffffff solid 9px;
    background-image: url("MYImages/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
    display: flex;
    justify-content: right;
}

#menu{
    border: #ffffff solid 3px;
    height: 13%;
    width: 100%;
    background-color: #ffcb08;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    padding-top: 10px;
    height: 100%;
    width: auto;
}
#logo:hover{
    opacity: 0.8;
}
#mainContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
}
#content{
    display: flex;
    width: 100%;
    height: 695px;
    padding: 0;
}
#menuBar{
    width: 100%;
    height: 68px;
    margin-bottom: 10px;
}
#menuBarImg{
    width: auto;
    height: 100%;
}
#pages{
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.btn-light{
    background-color: #07377a !important;
    height: 68px;
    width: 96%;
    margin: 10px;
    font-size: x-large !important;
    color: white !important;
    font-family: "Courier New", Courier, serif !important;
}
.btn-light:hover {
    background-color: #072b60 !important;
}
.btn-light2{
    background-color: #07377a !important;
    height: 68px;
    width: 96%;
    margin: 10px;
    font-size: larger !important;
    color: white !important;
    font-family: "Courier New", Courier, serif !important;
}
.btn-light2:hover {
    background-color: #072b60 !important;
}
#name{
    width: 100%;
    height: 17%;
    border: #000000 solid 3px;
    display: flex;
    justify-content: right;
}
#nameText{
    margin: 3px;
    font-family: 'Engineering Plot', serif !important;
}
#slider {
    height: 695px;
    width: 81%;
}
#nameBanner{
    width: 100%;
    object-fit: cover;
}
#carouselExampleIndicators {
    height: 100%;
}
#footer{
    padding: 3px;
    color: white;
    display: block;
    justify-content: left;
    align-items: end;
    border: white solid 3px;
    border-top: white solid 9px;
    width: 100%;
    height: 200px;
    background-color: #15387b;
}
#copyright{
    color: white;
    padding: 3px;
}
#aboutText{
    width: 100%;
    height: auto;
    padding-right: 10%;
    padding-left: 5%;
    line-height: 2;
}
#about{
    font-family: 'Courier New', serif !important;
    font-weight: bold;
    font-size: larger;
    padding-top: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: right;
}
#section{
    width: 35%;
    font-family: "Courier New", serif !important;
}
#profilePic{
    padding: 2%;
    width: 100%;
    height: auto;
}
#spacer{
    padding-top: 3px;
    height: 85%;
    width: 100%;
}
#horizontalFooter{
    display: flex;
}
#socials{
    padding-top: 2%;
    padding-right: 5%;
}
.fillerText{
    padding-left: 1%;
}
.linkHolderButton{
    margin: 10px;
    background-color: #072b60;
    border-radius: 15px;
    font-size: 15px;
    width: 90px;
    color: white !important;
}
.carousel-inner,
.carousel-item {
    height: 100%;
}
.socialsIcon{
    width: 30px;
    height:30px;
}
.horizontal{
    display: flex;
    align-items: center;
}
